venv
*.pyc
staticfiles
.env

.idea/*
media
blog/migrations/*
configuration/migrations/*
portfolio/migrations/*
services/migrations/*
static/css/*
static/fonts/*
static/images/*
static/js/*
db.website_1_0
